* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#pop {
  background: linear-gradient(90deg, #d6a441 0%, #f5e691 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
#pop {
  padding-top: 10px;
}
.one{
    padding-left: 50px;
    margin: -5px 25px;
}
.one i{
    padding: 5px;
}

.well {
  margin: -12px 0px;
}
.well i {
  margin-right: 6px;
  font-size: 14px;
}
.well p{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #000000;
}
.well .navbar-text {
  padding-right: 18px;
} 
#second{
background-color: black;
}
#second .navbar-nav{
    margin-left: 75px;
    
}
#second .para a{
    padding: 21px;
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #EFD880;
}
#second .top button{
    border: 2px solid #F5E691;
    border-radius: 5px;    
}
#second button:nth-child(1){
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #F5E590;
background-color: black;
padding: 8px;
}
#second button:nth-child(2){
    font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color:black ;
padding: 8px;
background-color:  #F5E590;
}
#qoute h5{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  color: #F5E590;;
}
#qoute p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}
#qoute .top button{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #F5E590;
  border: 2px solid #F5E691;
border-radius: 5px;
margin-top: 24px;
padding: 6px;
}
#qoute  .carousel-inner .carousel-item{
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(245, 230, 145, 0.3) 100%), linear-gradient(90deg, #000000 -12.64%, rgba(0, 0, 0, 0.2) 100%);
}
#qoute .carousel-caption{
  margin-right: 500px;
  text-align: inherit;
  margin-bottom: 50px;
}
#qoute .carousel-indicators :nth-child(1) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
#qoute .carousel-indicators :nth-child(2) {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
#third {
  padding: 90px 0;
}
#third h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #E2BE60;
}
#third p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.8;
}
#third .tone button{
  border: 2px solid #E2BE60;
  border-radius: 5px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #E2BE60;
padding: 8px 19px;
}
#third .mage img{
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  height: 104%;
  margin-left: -71px;
}
#fourth{
  background: #E2BE60;
  border-radius: 20px;
  width: 93%;
  margin: auto;
  padding: 22px 22px 0 22px;
}
#fourth button:nth-child(1) {
  padding: 10px 18px;
  border: 2px solid #FFFFFF;
border-radius: 5px;
background: #EFD880;
color: #FFFFFF;
margin-right: 12px;
}
#fourth button:nth-child(2) {
  background: #D7A542;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 10px 18px;
  color: #FFFFFF;
  margin-right: 12px;
}
#fourth button:nth-child(3) {
  border: 2px solid #FFFFFF;
  background: #EFD880;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 24px;
  margin-right: 12px;
}
#fourth button:nth-child(4) {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  padding: 11px 18px;
  color: #E2BE60;
  background: #FFFFFF;
  margin-right: 12px;
}
#fourth .pade{
  margin-top: 49px;
  font-size: 24px;
  text-align: end;
}
#fourth h3{
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;
}
#fourth p{
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 49px;
color: #FFFFFF;
}
#fourth .pad span{
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 49px;
  color: #FFFFFF;
}
#third .mager img{
  margin-bottom: 92px;
  height: 102%;
  margin-left: 65px;
}
#five{
  background-image: url('../img/Rectangle 49.png');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}
#five h2{
  text-align: center;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 54px;
color: #E2BE60;
margin-bottom: 30px;
}
#five .okay{
  background: #E2BE60;
border-radius: 15px; 
}
#five .okay h2{
  color: #FFFFFF;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
padding: 1px 10px;
}
#five .okay{
  padding: 9px;
  text-align: center;
}
#slickslider1 .okay{
  width: 231px;

}
#slickslider1 .okay img{
  margin-left: 66px;
}
#slickslider1 .slick-next{
  position: relative;
  left: 45.5%;
  background: #E2BE60;
border-radius: 20px 0px 0px 0px;
border: none;
padding: 10px;
top: 7.15rem;

}
#slickslider1 .slick-prev{
  
  top: 20.87rem;

  position: relative;
  left: 49.5%;
  background: #E2BE60;
  border-radius: 0px 20px 0px 0px;
  border: none;
padding: 10px;
}
.slick-next i{
  color: white;
  font-size: 25px;
}
.slick-prev i{
  color: white;
  font-size: 25px;
}
.slick-slide{
  margin-right: 20px;
}
#six{
  padding: 4%;
  background: #F5F5F5;
}
#six h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #E2BE60;
}
#six .uper{
  text-align: center;
}
#six h4{
  color: #E2BE60;
}
#six span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #757575;
}
#six p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #000000;
}
#six .carousel-caption{
  position: initial;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
#six .carousel-control-prev{
  top: 545px;
  left: 461px;
  background: #D4D1D1;
border-radius: 10px;
}
#six .carousel-control-next{
  top: 545px;
  right: 434px;
  background: #E2BE60;
  border-radius: 10px;
}
.carousel-control-prev-icon{
  background: #D4D1D1;
  border-radius: 10px;
}
.carousel-control-next-icon{
  background: #E2BE60;
  border-radius: 10px;
}
#seven{
  background: #E2BE60;
}
#seven h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
color: #FFFFFF;
}
#seven p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
opacity: 0.8;
}
.blue{
  border-right: 1px solid white;
}
#seven{
  padding: 40px 30px;
}
#seven .blue{
  display: flex;
}
#seven .green button{
  padding: 11px 18px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background: #E2BE60;
  color: #FFFFFF;
  margin-top: 27px;
}
#seven .ink{
  display: flex;
    margin-left: 56px;
}
.yellow{
  margin-top: 50px;
}
#seven .blue p {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #FFFFFF;
opacity: 0.8;
margin: 10px 26px;
}
#seven .ink p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  opacity: 0.8; 
  margin: 10px;
}
#nine button{
  padding: 13px 251px;
}
#nine{
  padding: 56px 0;
}
#nine h3{
  font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 66px;
color: #000000;
margin-bottom: 25px;
}
#nine h3 span{
  color: #E2BE60;
}
#nine button {
  color: white;
  background-color: #E2BE60;
  background: #E2BE60;
}
#nine .blu p{
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
#nine .in p{
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
#nine .blu span{
  color: black;
}
#nine .blu p{
  color: #E2BE60;
    margin-left: 3px;
}
#nine .in span{
  color: black;
}
#nine .in p{
  color: #E2BE60;
  margin-left: 3px;
}
#nine .in {
  margin-left: 35px;
  display: flex;
}
#nine .orange img{
  margin-left: 29px;
  padding: 10px 10px;
}
#nine .blu {
  display: flex;
}
#nine p {
  flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;
}
#nine i{
  margin-left: 2px;
}
#cap{
  text-align: center;
}
#cap .de {
  background: #D7A542;
  padding: 25px;
  border-radius: 10px 0px 0px 10px;
}
#cap .us {
  background: #E2BE60;
  padding: 25px;
}
#cap .uk {
  background: #EFD980;
  border-radius: 0px 10px 10px 0px;
  padding: 25px;
}
#cap p{
  font-family: 'Montserrat';
  font-style: normal;
font-weight: 650;
    font-size: 11px;
    line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
#cap .btn{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #FFFFFF;
padding: 10px 26px;
border: 2px solid #FFFFFF;
}
#cap img{
  margin-bottom: 15px;
}
#cap .col-md-2{
  padding: 0;
}
#red a {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}
#red .qas{
  text-align: center;
  line-height: 40px;
  background: #E2BE60;
  padding: 8px;
}
#red .qas a {
  padding: 10px;
  text-decoration: none;
  font-weight: 450;
font-size: 19px;
line-height: 20px;
color: #FFFFFF;
}
#red .qasw{
  background: #D7A542;
  padding: 9px;
}
#red .qasw p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
color: #FFFFFF;
}
#red{
  padding: 54px;
}